<style>
body { background-color: lightblue; }

h1 { color: red;
  text-align: center;
  font-family: Verdana;
}
h2 { color : green;
    text-align : left;
    font-family : arial;}
h3 { color : white; }


p { font-family: verdana;
  font-size: 20px;}
  
img {border : 3px solid yellow;
     width : 150px ;
     display : block ;
     opacity : 0.4;}
table { background-colour : red;  }
ul {background-colour : blue ;
table , tr ,td , ul {border : 3px solid orange;}
tr:hover {background-color : #f5f5f5}
     
     
</style>